/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}

.tendina{
font-size: 10px;
}

#container{
  padding: 0 10%;
}

header{
  /* debug */
  background-color: blue;
  /* width: 80%; */
  min-height: 100px;
  /* fine debug */
}

#lingua-cerca{
  background-color: lightblue;
  height: 50px;
  border-bottom: 1px solid black;
  padding: 10px 10%;
}

#language{
  float: left;
}

#rotazione{
  /* transform: rotate(-90deg); */
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

#login{
float: right;
}

#login :nth-child(2), #login :nth-child(3) {
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 5px;
  padding: 2px;
  background-color: white;
  color: orange;
}

#login :nth-child(3){
  background-color: orange;
  color: white;
}

.GetHubspotFree-button{
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

#top-menu{
  background-color: white;
  height: 50px;
  padding: 10px 10%;
}

#logo{
  float: left;
}

#menu-right{
  float: right;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
}

#menu-right a{
  margin: 5px;
}

main{
  /* debug */
  background-color: green;
  /* width: 80%; */
  min-height: 200px;
  /* fine debug */
}

#sez-sfondo{
  padding: 50px 10%;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid grey;
  /* debug */
  height: 500px;
  /* fine debug */
}

#sez-sfondo > h1 , p {
  width: 400px;
  margin-bottom: 20px;
}

h1{
  font-size: 40px;
}

#sez-sfondo > p , a{
  font-size: 15px;
}

#sez-sfondo > p {
  margin-top: 20px;
}

#features{
  background-color: lightgrey;
  /* debug */
  height: 500px;
  /* fine debug */
}

#features:first-child{
  position: relative;
}

#cubo{
  width: 230px;
  height: 220px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#com-partners{
  background-color: #00cc99;
  /* debug */
  height: 500px;
  /* fine debug */
}

#growing{
  /* debug */
  background-color: white;
  height: 500px;
  /* fine debug */
}

footer{
  /* debug */
  background-color: red;
  /* width: 80%; */
  min-height: 200px;
  /* fine debug */
}
