/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

a{
  color: black;
  text-decoration: none;
}

.tendina{
font-size: 10px;
}

#container{
  padding: 0 10%;
}

header{
  /* debug */
  background-color: blue;
  /* width: 80%; */
  min-height: 100px;
  /* fine debug */
}

#lingua-cerca{
  background-color: lightblue;
  height: 50px;
  border-bottom: 1px solid black;
  padding: 10px 10%;
}

#language{
  float: left;
}

#rotazione{
  /* transform: rotate(-90deg); */
  border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

#login{
float: right;
}

#login :nth-child(2), #login :nth-child(3) {
  border: 1px solid orange;
  border-radius: 5px;
  margin-left: 5px;
  padding: 2px;
  background-color: white;
  color: orange;
}

#login :nth-child(3){
  background-color: orange;
  color: white;
}

.GetHubspotFree-button{
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

#top-menu{
  background-color: white;
  height: 50px;
  padding: 10px 10%;
}

#logo{
  float: left;
}

#menu-right{
  float: right;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
}

#menu-right a{
  margin: 5px;
}

main{
  /* debug */
  background-color: green;
  /* width: 80%; */
  min-height: 200px;
  /* fine debug */
}

#sez-sfondo{
  padding: 50px 10%;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid grey;
  /* debug */
  height: 500px;
  /* fine debug */
}

#sez-sfondo > h1 , p {
  width: 400px;
  margin-bottom: 20px;
}

h1{
  font-size: 40px;
}

#sez-sfondo > p , a{
  font-size: 15px;
}

#sez-sfondo > p {
  margin-top: 20px;
}

#features{
  background-color: lightgrey;
  position: relative;
  /* debug */
  /* height: 500px; */
  /* fine debug */
}

#cubo{
  width: 230px;
  height: 220px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate( -50% , -50%);
}

#features > h2 {
  text-align: center;
  padding-top: 300px;
  font-size: 35px;
}

#features > p{
  text-align: center;
  margin: 50px auto;
  width: 700px;
  font-size: 15px;
  line-height: 25px;
}

#features div > i{
  color: orange;
}

#top-box-shape{
  min-height: 200px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#top-box-shape > div{
  float: left;
}

#colonna-sinistra{
  margin: 20px 0 40px 100px;
}

#colonna-sinistra > img{
  width: 110px;
  height: 110px;
  margin-bottom: 30px;
}

#colonna-sinistra > a{
  display: block;
}

#colonna-destra{
  margin: 20px 40px 20px 150px;
  text-align: left;
}

#colonna-destra > p{
  width: 600px;
  margin-top: 30px;
}

#colonna-destra > h3{
  margin-bottom: 30px;
}

#colonna-destra div > span{
  margin-right: 30px;
}

.three-boxes-shape{
  /* height: 200px; */
  width: calc((100% / 3) - 50px);
  margin: 50px 0 0;
  float: left;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  padding: 30px 0;
}

.three-boxes-shape > img{
  width: 110px;
  height: 110px;
  margin-top: 50px;
}

.three-boxes-shape > h2{
  margin: 20px;
}
.three-boxes-shape > p{
  width: auto;
  margin: auto 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid grey;
}

.three-boxes-shape > h3{
  margin: 30px auto;
}

.bottom-box{
  text-align: left;
  margin-left: 30px;
  margin-bottom: 50px;
  line-height: 0px;
}

.learn-more{
  background-color: orange;
  color: black;
  border-radius: 5px;
  padding: 7px;
}

#middle-box{
  margin: 50px 75px;
}

#com-partners{
  background-color: #00cc99;
  text-align: center;
  padding: 30px 40px;
  color: white;
  /* debug */
  min-height: 300px;
  /* fine debug */
}

#sottotitolo{
  width: 82%;
  font-size: 12px;
  margin: 30px auto;
}

#tabella{
  margin: 40px 85px;
}

#tabella > div{
  float: left;
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
}

.top-tabella{
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

#last-top{
  border-bottom: 1px solid white;
}

.bottom-tabella{
  border-right: 1px solid white;
}

.scritte-tabella{
  margin: 40px;
  line-height: 40px;
}

.scritte-tabella > p{
  width: 127px;
  font-size: 13px;
}

#growing{
  /* debug */
  background-color: white;
  height: 500px;
  /* fine debug */
}

footer{
  /* debug */
  background-color: #484875;
  color: white;
  margin-bottom: 40px;
  padding-left: 30px;
  /* width: 80%; */
  min-height: 200px;
  /* fine debug */
}

.footer-tools{
  float: left;
  width: calc((100% / 4) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  /* debug */
  /* border: 1px solid white; */
  /* height: 200px; */
  /* fine debug */
}

.footer-tools > a{
  color: grey;
  display: block;
  line-height: 35px;
}

#footer-button{
  color: #484875;
  background-color: grey;
  border-radius: 5px;
  padding: 1px;
  width: 170px;
  text-align: center;
}

#social-icons > a{
  display: inline-block;
  color: grey;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 15px;
}
